@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins&display=swap');


:root{
    --background-mobile-color: #F8F9FF;
    --background-desktop-color: #CAB7FD;
    --background-section-color: #F8F9FF;
    --background-cards-color: #FFFFFF;
    --primary-button-color: #5221A6;
    --secundary-button-color: #C4AFFD;
    --title-color: #000000;
    --text-color: #2D2D2D;

    --title-header-font: 'Poppins', sans-serif;
    --title-sections-font: 'Poppins', sans-serif;
    --subtitle-font: 'Mulish', sans-serif;
    --texts-font: 'Mulish', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

body{
     background-color: var(--background-mobile-color); 
    box-sizing: border-box;
}

.section_text{
    margin: 2em;
    padding: 1.8em;
    text-align: center;
    background-color: var(--background-section-color);
}

.section_text_title{
    font-family: var(--title-sections-font);
    font-size: 2.375rem;
    color: var(--title-color);
    margin: 0em 0em 0.675em 0em;
}

.section_text_paragraph{
    font-family: var(--texts-font);
    font-size: 1rem;
    line-height: 1.5em; 
    color: var(--text-color);
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto
}

.section_team{
    margin: 2em;
    padding: 1.8em;
    text-align: center;
    background-color: var(--background-section-color);
}

.section_team_title{
    font-family: var(--title-sections-font);
    font-size: 2.375rem;
    color: var(--title-color);
    margin: 0em 0em 0.675em 0em;
}

.section_team_text{
    font-family: var(--texts-font);
    font-size: 1rem;
    line-height: 1.5em; 
    color: var(--text-color);
}

.swiper {
    width: 100%
  }

.section_team_cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_team_cards_employee{
    background-color: var(--background-cards-color);
    border-radius: 20px;
    width: 224px;
    height: 309px;
}a{
    text-decoration: none;
}
nav{
    background-color: var(--background-mobile-color);
    margin-bottom: -1px;
}
#divImageHeader{
    background-color: var(--background-mobile-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header > nav{
    padding-bottom: 2.5rem;
    padding-top: 1.25rem;
}

header > nav > ul{
    display: none;
}

header > nav > h2{
    font-family: var(--title-header-font);
    font-size: 1.70rem;
    font-weight: bold;
    text-align: center;
}

#sectionHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}

#sectionHeader > h1{
    font-family: var(--title-header-font);
    font-size: 2.5rem;
    font-weight: semi-bold;
    text-align: center;
    line-height: 1.2;
    margin:0px 0px;
    margin-top: 0.625rem;
    padding-bottom: 0.938rem;
    background-color: var(--background-mobile-color);
    margin-bottom: -1px;
}

#sectionHeader > p{
    font-family: var(--subtitle-font);
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.2;
    padding-bottom: 1.30rem;
    background-color: var(--background-mobile-color);
    margin-bottom: -1px;
}

#divLink1Header > a{
    font-family: var(--title-sections-font);
    color:white;
    text-align: center;

}

#divLinksHeader{
    background-color: var(--background-mobile-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divLink1Header{
    width: 70vw;
    height: 3.75rem ;
    background-color: var(--primary-button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#divLink2Header > a{
   display: none;
}

#sectionHeart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:3.75rem ;
    margin-bottom: -0.8rem ;
}
