@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins&display=swap');


:root{
    --background-mobile-color: #F8F9FF;
    --background-desktop-color: #CAB7FD;
    --background-section-color: #F8F9FF;
    --background-cards-color: #FFFFFF;
    --primary-button-color: #5221A6;
    --secundary-button-color: #C4AFFD;
    --title-color: #000000;
    --text-color: #2D2D2D;
    --footer-color: #2D2D2D;
    --footer-text-color: #FFFFFF;

    --title-header-font: 'Poppins', sans-serif;
    --title-sections-font: 'Poppins', sans-serif;
    --subtitle-font: 'Mulish', sans-serif;
    --texts-font: 'Mulish', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

body{
     background-color: var(--background-mobile-color); 
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
nav{
    background-color: var(--background-mobile-color);
    margin-bottom: -1px;
}
#divImageHeader{
    background-color: var(--background-mobile-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header > nav{
    padding-bottom: 2.5rem;
    padding-top: 1.25rem;
}

header > nav > ul{
    display: none;
}

header > nav > h2{
    font-family: var(--title-header-font);
    font-size: 1.70rem;
    font-weight: bold;
    text-align: center;
}

#sectionHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}

#sectionHeader > h1{
    font-family: var(--title-header-font);
    font-size: 2.5rem;
    font-weight: semi-bold;
    text-align: center;
    line-height: 1.2;
    margin:0px 0px;
    margin-top: 0.625rem;
    padding-bottom: 0.938rem;
    background-color: var(--background-mobile-color);
    margin-bottom: -1px;
}

#sectionHeader > p{
    font-family: var(--subtitle-font);
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.2;
    padding-bottom: 1.30rem;
    background-color: var(--background-mobile-color);
    margin-bottom: -1px;
}

#divLink1Header > a{
    font-family: var(--title-sections-font);
    color:white;
    text-align: center;

}

#divLinksHeader{
    background-color: var(--background-mobile-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divLink1Header{
    width: 70vw;
    height: 3.75rem ;
    background-color: var(--primary-button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#divLink2Header > a{
   display: none;
}

#sectionHeart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:3.75rem ;
    margin-bottom: -0.8rem ;
}

.section_text{
    margin: 2em;
    padding: 1.8em;
    text-align: center;
    background-color: var(--background-section-color);
}

.section_text_title{
    font-family: var(--title-sections-font);
    font-size: 2.375rem;
    color: var(--title-color);
    margin: 0em 0em 0.675em 0em;
}

.section_text_paragraph{
    font-family: var(--texts-font);
    font-size: 1rem;
    line-height: 1.5em; 
    color: var(--text-color);
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto
}

.section_team{
    margin: 2.5em 2em 0em 2em;
    padding: 1.8em 1.8em 0em 1.8em;
    text-align: center;
    background-color: var(--background-section-color);
}

.section_team_title{
    font-family: var(--title-sections-font);
    font-size: 2.375rem;
    color: var(--title-color);
    margin: 0em 0em 0.675em 0em;
}

.section_team_text{
    font-family: var(--texts-font);
    font-size: 1rem;
    line-height: 1.5em; 
    color: var(--text-color);
    padding: 0em 0em 1.25em 0em;
}

.swiper {
    width: 100%;
    height: 80%;
  }

.swiper-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.swiper-slide{
    margin-left: 0.1em;
}

.section_team_cards{
    display: flex;
    align-items: center;
    text-align: center;
}

.section_team_cards_employee{
    background-color: var(--background-cards-color);
    border-radius: 1.25em;
    width: 224px;
    height: 309px;
    padding: 2.5em 1.8em;
    font-family: var(--texts-font);
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5em;
}

.section_team_cards_employee_name{
    font-family: var(--title-sections-font);
    color: var(--title-color);
    font-size: 1.3em;
    padding: 1.25em 1em 0.5em 1em;
    text-align: center;
}

.section_team_cards_employee_position{
    padding: 0em 0em 1.5em 0em;
}

.img_arco_iris{
    display: flex;
    margin: auto;
}

.section_contacts{
    background-color: var(--background-cards-color);
    margin: 3.125em;
    padding: 2.5em;
    text-align: center;
    border-radius: 1.25em;
}

.section_contacts_infos{
    font-family: var(--texts-font);
    color: var(--text-color);
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 2em;
    justify-content: flex-start;
}

.section_contacts_infos_img{
    padding: 0.8em;
    display: flex;
}

.section_contacts_infos_title{
    font-family: var(--title-sections-font);
    color: var(--title-color);
    font-size: 1.3rem;
    display: flex;
    align-content: flex-start;
    align-items: start;
    text-align: start;
    padding: 0.5em 1.5em 0em 0.5em;
    line-height: 1.5em;
}
footer{
    background-color:var(--footer-color) ;
}

.footer_text{
    color: var(--footer-text-color);
    font-family: var(--texts-font);
    font-size: 0.875rem;
    padding: 1em 1.2em 1.5em 1.2em;
}

.footer_img{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1.2em 0.2em 0.5em 1.5em;
}



