@media (min-width: 280px) and (max-width:340px) {

#imageHeader{
    width:260px;
    height:200px;
}

}

@media (min-width: 230px) and (max-width:280px) {
    #imageHeader{
        width:240px;
        height:190px;
    }
    #divImageHeader{
        margin-left: 35px;
    }
    #sectionHeader > h1{
        padding-left: 15px;
    }
}
@media (min-width: 240px) and (max-width:310px){
    form[name="submitGoogleSheets"] > input{
       max-width: 230px;
    }
}